*{
	box-sizing: border-box;
 }

body, input{
	font-family: 'Lobster', cursive;
	font-size: 14px;
	
}

input{
	border: 2px solid #FC6170;

}

header{
	background-color: #FFD747;
	height: 10em;
	color: #FFF;
	margin-bottom: 1em;
	
	
}

header h1{
	font-size: 5em;
	vertical-align:	middle;
	text-align: center;
	color: #FC6170;
	padding-top: .5em;
}

header h2{
	font-size: 2em;
	display:inline-block;
	vertical-align:	middle;
	
}

header .container:before{
	content: '';
	height: 100%;
	vertical-align:	middle;
}

.container{
	width: 60%;
	height: 100%;
	margin: 0 auto;
}

section{
	margin: 2em 0;
	overflow: hidden;
	
}

section h2{
	font-size: 3em;
	display: block;
	padding-bottom: .5em;
	border-bottom: 2px solid #ccc;
	margin-bottom: .5em;
	color: #FC6170;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;

}

td, th {
	padding: .7em;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}
tr{
	font-size: 15px;
	
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 100%;
	border: 1px solid #ccc;
	padding: .7em;
	width: 100%;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #FC6170;
	width: 20%;
    display: block;
    clear: both;
	margin: 10px 0px;
	font-family: 'Lobster',	cursive;
	background: #FFF;
	border: 2px solid #FC6170

}
button:hover{
	background-color: #FC6170;
	color: #FFF;
}

button:active{
	margin-top:0px;
	border: 0;
}

button[disabled=disabled], button:disabled {
    background-color: gray;
	border-color: darkgray;

}

.adicionar-paciente{
    margin-top: 30px;
}

.campo-invalido{
	border: 1px solid red;
}
.paciente-invalido{
	background-color: #FFFC00;
}

.paciente-normal{
	background-color: lightgreen;
}

.paciente-acima-peso{
	background-color: lightcoral;
}

.paciente-obeso{
	background-color: #b92b27;
}

.paciente-obesidade-severa{
	background-color: #bd081c;
}

.fadeOut{
	opacity: 0;
	transition: 0.5s;
}

#filtrar-paciente{

	width: 200px;
	height: 30px;
	margin-bottom: 10px;
	border: 2px solid black;
}

.invisivel{
	display: none;
}
label{
	font-size: 20px;
}